.custom-file-picker input{
    width: 90px;
    height: 100%;
    opacity: 0;
}
.custom-file-picker span{
    position: absolute;
    cursor: pointer;
    left: 0;
    top: 0;
    z-index: -1;
}
.about-book-list .list-group-item{
    margin-bottom: .5rem;
}
.about-book-list .list-group-item:last-child{
    margin-bottom: 0;
}